{% extends "base.html" %}

{% block head_title %} 
{{ block.super }} 
{% endblock head_title %}
<style>
	{% block style %}
	{% endblock style %}
</style>

 {% block content %}


	<div class="col-sm-6 col-sm-offset-3">
		
	<h1>
		{{ title }}
	</h1>
	<form action="" method="GET" class="row">
		<div class="form-group col-sm-12">
			<input type="text" name="query" placeholder="Search Posts" value="{{ request.GET.query }}" class="form-control"/>
			<!-- <span class="input-group-btn"> -->
				<!-- <input type="submit" value="Search" class="btn btn-default" /> -->
				<button class="btn btn-default" type="submit">
					<i class="fa fa-search fa-lg"></i>
				</button>
			<!-- </span> -->
		</div>
	</form>
	{% for obj in object_list %}
	<div class="row">
	<div class="col-sm-12">
		<div class="card" style="width: 100%;">
			{% if obj.image %}
			<img class="card-img-top img-fluid" src="{{ obj.image.url }}" alt="Card image cap">
			 {% endif %}
			<div class="card-body post-detail-item">
				<!-- <h5 class="card-title"><a href="{{ obj.get_absolute_url }}">{{ obj.title }}</a><small>  {{ obj.timestamp | timesince }} ago</small></h5> -->
				<h5 class="card-title">
					{% if obj.draft %}<span style="color: red;">Draft</span>{% endif %}<br>
					 {% if obj.publish > today %}
					<span style="color: orange;">Future Post </span> {% endif %}<br>
					<a href="{{ obj.get_absolute_url }}">{{ obj.title }}</a>
					<small> {{ obj.publish | timesince }} ago</small>
				</h5>

						
				<p class="card-text">{% if obj.user.get_full_name %}Author: {{ obj.user.get_full_name }}{% endif %}</p>
				<!-- <p class="card-text content-markdown">
				{{ obj.content | truncatechars:75 }}</p> -->
				<p class="card-text">
					{{ obj.get_markdown | truncatewords_html:5 }}</p>

				<!-- {{ obj.content | linebreaks | truncatechars:75 }}</p> -->
				<a href="{{ obj.get_absolute_url }}" class="btn btn-primary">Read More</a>
			</div>
		</div>
		<br><br>
	</div>
	<!-- {% cycle "" "</div><div class='row'></div>"%} -->
	</div>
	{% endfor %} 
	
	<div class="pagination">
		<span class="step-links">
			{% if object_list.has_previous %}
			<a href="?{{ page_request_variable }}=1">&laquo; first</a>
			<a href="?{{ page_request_variable }}={{ object_list.previous_page_number }}{% if request.GET.query %}&query={{request.GET.query}}{% endif %}">previous</a>
			{% endif %}
	
			<span class="current">
				Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}
			</span>
	
			{% if object_list.has_next %}
			<a href="?{{ page_request_variable }}={{ object_list.next_page_number }}{% if request.GET.query %}&query={{request.GET.query}}{% endif %}">next</a>
			<a href="?{{ page_request_variable }}={{ object_list.paginator.num_pages }}">last &raquo;</a>
			<!-- <a href="?page={{ object_list.paginator.num_pages }}">last &raquo;</a> -->
			{% endif %}
		</span>
	</div>

</div>
{% endblock content %}